<head>
<link href="/assets/common.css" rel="stylesheet">
<link rel = "stylesheet" href = "https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
</head>
<section class="container">
<div id="welcome"></div>
<div id="welcome2"></div>
<div id="welcome3"></div>
</section>

<%# <h1>HalloI am Ayu</h1> %>
<%= javascript_pack_tag 'App' -%>
<%= javascript_pack_tag 'App2' -%>
<%= javascript_pack_tag 'App3' -%>
